#文件夹忽略
TestLabelingBase/
label/
debug/
release/
jobs/
tools/
test/
data/
TestLabelingUISample/
OnlineTaskManager/offline/
*/.vs/config/

*.Debug
*.Release
Makefile
moc_*
*.user
*.user.*
*.VC.VC.opendb
*.VC.db

*.o
*.log
ui_*
*.exe
*.stash
*.autosave
*.log
*/Win32
OnlineTaskManager_resource.rc
preLabelTimes.json
ToolConfig.xml